.container h1 {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.top-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    img {
        max-width: 200px;
    }
}

.form-container {
    margin-top: 2rem;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #DADADA;
}

.form-container ion-item ion-label {
    color: #A6A6A6;
}

.form-container ion-item ion-icon {
    margin-top: auto;
    color: #c6cbd4;
}

// .form-container ion-button {
//     margin-top: 48px;
// }
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.sign-up ion-button {
    margin: 0;
}