<ion-header class="ion-no-border" translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" text="" icon="chevron-back-outline" routerDirection="back" color="primary">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Preference's</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="config">
        <ion-list-header>
            <ion-title>Interaction</ion-title>
        </ion-list-header>
        <ion-item>
            <ion-icon slot="start" src="../../../assets/icon/icons8-vibrate-24.svg"></ion-icon>
            <ion-label>Vibration Style</ion-label>
            <ion-select [value]="config.Vibration" okText="Okay" cancelText="Dismiss" (ionChange)="vibrationStyleChange($event)">
                <ion-select-option value="Light">Light</ion-select-option>
                <ion-select-option value="Medium">Medium</ion-select-option>
                <ion-select-option value="Heavy">Heavy</ion-select-option>
                <ion-select-option value="None">None</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-list-header>
            <ion-title>Theme</ion-title>
        </ion-list-header>
        <ion-item>
            <ion-icon slot="start" name="color-palette-outline"></ion-icon>
            <ion-label>Theme Style</ion-label>
            <ion-select [value]="config.Theme" okText="Okay" cancelText="Dismiss" (ionChange)="themeStyleChange($event)">
                <ion-select-option *ngFor="let item of themeColor" [value]="item.class">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

</ion-content>