<ion-header class="ion-no-border" translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" text="" icon="chevron-back-outline" routerDirection="back" color="primary">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Contactus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
    <ion-label>Made with
        <ion-icon name="heart" color="danger"></ion-icon> by UmairSyed
    </ion-label>

</ion-content>